<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/contacts.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  {% include 'app/module/_header/_header.html' %}
  <main class="main">

    {% include 'app/module/_top/_top.html' %}

    <section class="map">
      <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830825138!2d-74.11976420769204!3d40.69766374889672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sru!4v1642626856609!5m2!1sru!2sru" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </section>

    <section class="contact">
      <div class="container">
        <div class="contact__inner">
          <div class="contact__info">
            <h3 class="contact__info-title">
              Feel Free Don’t
              Hesitate To
              Contact With Us
            </h3>
            <p class="contact__info-text">
              Lorem ipsum dolor sit amet, consectetur adingn elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo maecnaacnrao cumsan lacus vel facilisis. 
            </p>
            <ul class="contact__info-list">
              <li class="contact__info-item">
                <a class="contact__info-phone" href="tel:+01234567896">+0-123-456-7896</a>
                <a class="contact__info-phone" href="tel:+01234567896">+0-123-456-7896</a>
              </li>
              <li class="contact__info-item contact__info-item--location">
                Ranlon Market 789 Road,<br>
                Market Street, Newyork
              </li>
              <li class="contact__info-item contact__info-item--email">
                <div>yourmailaddress@gmail.com</div>
                <div>companymail@gmail.com</div>
              </li>
            </ul>
          </div>
          <form action="#" class="contact__form">
            <p class="contact__form-title">Contact Form</p>
            <div class="contact__form-box">
              <input class="contact__form-input" type="text" placeholder="Your Name">
              <input class="contact__form-input" type="text" placeholder="Your E-mail Address">
            </div>
            <input class="contact__form-input" type="text" placeholder="Subject">
            <textarea class="contact__form-textarea" placeholder="Message here"></textarea>
            <button class="contact__form-btn" type="submit">SEND MESSAGE</button>
          </form>
        </div>
      </div>
    </section>

    

  </main>
  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>
</html>